asn1crypto==1.5.1
certifi==2023.5.7
charset-normalizer==3.0.1
et-xmlfile==1.1.0
idna==3.4
numpy
openpyxl==3.1.2
pandas
pg8000
pipreq==0.4
psycopg2-binary==2.9.6
pyTelegramBotAPI==4.12.0
python-dateutil==2.8.2
pytz==2023.3
requests
scramp==1.4.1
six==1.16.0
telebot==0.0.5
tzdata==2023.3
urllib3
datetime